<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{/admin/fragments::header}"></head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!--Sidebar-->
        <ul th:replace="~{/admin/fragments::sidebar}"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="~{/admin/fragments::top-navbar}"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}">
                    </p>
                </div>
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th class="order-date">Order Date</th>
                                <th>Delivery Date</th>
                                <th class="price-pr">Order Status</th>
                                <th class="quantity-box">Total Price</th>
                                <th class="total-pr">Payment Method</th>
                                <th>Action</th>
                                <th>Deny</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="order,iStat : ${orders}">
                                <td th:text="${iStat.index+1}"></td>
                                <td class="order-date timeValue">
                                    <span><b>[(${order.orderDate})]</b></span>
                                </td>
                                <td class="name-pr" th:if="${order.accept == false}">
                                    <span th:if="${order.isCancelByCustomer == false }">Đang chờ xác nhận</span>
                                    <span th:unless="${order.isCancelByCustomer == false}">Đã hủy</span>
                                </td>
                                <td class="name-pr timeValue" th:if="${order.accept == true}">
                                    <a href="#">
                                        [(${order.deliveryDate})]
                                    </a>
                                </td>
                                <td class="price-pr">
                                    <p th:text="${order.orderStatus}"></p>
                                </td>
                                <td class="total-pr">
                                    <p class="product__price" style="color: red">[(${order.totalPrice})]</p>
                                </td>
                                <td class="total-pr" style="color: black">
                                    <span></span>[(${order.paymentMethod})]</span>
                                </td>
                                <td>
                                    <a th:if="${order.accept == false && order.isCancelByCustomer == false && order.isDeny == false}"
                                        th:href="@{/admin/accept-order(id = ${order.id})}"
                                        class=" btn btn-primary">Accept</a>
                                    <a th:if="${order.accept} == true" class="btn btn-secondary" disabled>Accepted</a>
                                    <a th:if="${order.isCancelByCustomer} == true" class="btn btn-secondary"
                                        disabled>Cancel</a>
                                    <a th:if="${order.isDeny} == true" class="btn btn-secondary" disabled>Accept</a>
                                </td>
                                <td>
                                    <a th:href="@{/admin/deny-order(id = ${order.id})}"
                                        th:if="${order.isCancelByCustomer == false && order.isDeny == false && order.isAccept == false} "
                                        class="btn btn-danger">Deny</a>
                                    <a th:if="${order.isDeny} == true" class="btn btn-secondary" disabled>Denied</a>
                                    <a th:if="${order.isCancelByCustomer} == true" class="btn btn-secondary"
                                        disabled>Cancel</a>
                                    <a th:if="${order.accept} == true" class="btn btn-secondary" disabled>Deny</a>
                                </td>
                                <td>
                                    <a th:href="@{/admin/order-detail(id=${order.id})}"
                                        class="btn btn-success">Detail</a>
                                </td>
                                </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer th:replace="~{/admin/fragments::footer}"></footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
        </div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="~{/admin/fragments::scroll}"></a>

    <!--Add Categories Modal-->


    <!--End-->

    <!-- End -->
    <!-- Bootstrap core JavaScript-->
    <div th:replace="~{/admin/fragments::script}"></div>

    <script th:src="@{/js/categories.js}"></script>
    <script th:src="@{/js/formatCurrency.js}"></script>
    <script th:src="@{/js/DateFormat.js}"></script>
</body>

</html>