<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <th:block th:insert="~{/shop/fragments :: header-include}">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/mainpage.css}">

</head>

<body>
    <div class="container-fluid">
        <!-- start header -->
        <div th:replace="~{/shop/fragments::header}"></div>
        <!-- end header -->

        <!-- start body -->
        <div class="body">
            <div class="container">
                <div class="body__top row d-flex justify-content-between mt-4">
                    <div class="col-3 px-0" style="width: 20%;">
                        <div class="catagory pb-2 px-0">
                            <div class="catagogy__list-title text-center py-3 fw-bold">#Danh mục</div>

                            <ul class="catagory__list p-0">
                                <li class="catagory__item py-2 px-4" th:each="category : ${categories}">
                                    <a th:href="@{/products-category/0(name=${category.name})}" class="d-flex align-items-center">
                                        <div class="catagory__item-icon me-3">
                                            <i class="fa-solid fa-book"></i>
                                        </div>

                                        <div class="catagory__item-title" th:text="${category.name}"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-9 px-0" style="width: 80%;">
                        <div class="banner px-0">
                            <a href="">
                                <img class="banner__img"
                                    th:src="@{/img/476UR-Hoshizora-Rin-Pure-可愛い贈り物たち-jBZU4G.png}" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="body__product row mt-5">
                    <div class="container-fluid">
                        <div class="body__product-title bestsell row px-3 py-3 fw-bold">
                            Nổi bật
                        </div>

                        <ul class="body__product-list row px-3 py-4">
                            <!-- Loop through products -->
                            <li class="product__list-item col-12 col-md-6 col-lg-4 col-xl-3 pt-3"
                                th:each="product:${products}">
                                <a th:href="@{/product-detail/{id}(id=${product.id})}" class="product__link">
                                    <div class="product__img">
                                        <img th:src="'data:image/jpeg;base64,' + ${product.image}" class="img-fluid"
                                            alt="Image">
                                    </div>
                                    <div class="product__details p-2">
                                        <div class="product__name mb-2" th:text="${product.name}"></div>
                                        <div class="py-2">THỂ LOẠI: <span class="text-muted" th:text="${product.category.name}"></span></div>
                                        <div class="product__info d-flex justify-content-between align-items-center">
                                            <div class="product__price fw-bold"><span
                                                    th:text="${product.discountPrice}">1000000</span> &#8363;</div>
                                            <div th:if="${ product.discount !=0}" class="product__sold fw-bold">
                                                <i class="fas fa-tag"></i>
                                                <s class="product__price" style="font-size: 1.3em; color: #515E79;"
                                                    th:text="${product.salePrice}">$20.99</s>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>



                        <div class="body__more row d-flex justify-content-center align-items-center py-3">
                            <div class="btn--wrapper">
                                <a href="/products/0">
                                    <button class="body__more--btn px-5 py-2">Xem thêm</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="body__product row mt-5">
                    <div class="container-fluid">
                        <div class="body__product-title bycatagory row px-3 py-3 fw-bold" th:text="${category1}">
                            Category name
                        </div>

                        <ul class="body__product-list row px-3 py-4">
                            <!-- Loop through products -->
                            <li class="product__list-item col-12 col-md-6 col-lg-4 col-xl-3 pt-3"
                                th:each="product:${productsByCategory1}">
                                <a th:href="@{/product-detail/{id}(id=${product.id})}" class="product__link">
                                    <div class="product__img">
                                        <img th:src="'data:image/jpeg;base64,' + ${product.image}" class="img-fluid"
                                            alt="Image">
                                    </div>
                                    <div class="product__details p-2">
                                        <div class="product__name mb-2" th:text="${product.name}"></div>
                                        <div class="py-2">THỂ LOẠI: <span class="text-muted" th:text="${product.category.name}"></span></div>
                                        <div class="product__info d-flex justify-content-between align-items-center">
                                            <div class="product__price fw-bold"><span
                                                    th:text="${product.discountPrice}">1000000</span> &#8363;</div>
                                            <div th:if="${ product.discount !=0}" class="product__sold fw-bold">
                                                <i class="fas fa-tag"></i>
                                                <s class="product__price" style="font-size: 1.3em; color: #515E79;"
                                                    th:text="${product.salePrice}">$20.99</s>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <div class="body__more row d-flex justify-content-center align-items-center py-3">
                            <div class="btn--wrapper">
                                <a th:href="@{/products-category/0(name=${category1})}">
                                    <button class="body__more--btn px-5 py-2">Xem thêm</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="body__product row mt-5">
                    <div class="container-fluid">
                        <div class="body__product-title bycatagory row px-3 py-3 fw-bold" th:text="${category2}">
                            Category name
                        </div>

                        <ul class="body__product-list row px-3 py-4">
                            <!-- Loop through products -->
                            <li class="product__list-item col-12 col-md-6 col-lg-4 col-xl-3 pt-3"
                                th:each="product:${productsByCategory2}">
                                <a th:href="@{/product-detail/{id}(id=${product.id})}" class="product__link">
                                    <div class="product__img">
                                        <img th:src="'data:image/jpeg;base64,' + ${product.image}" class="img-fluid"
                                            alt="Image">
                                    </div>
                                    <div class="product__details p-2">
                                        <div class="product__name mb-2" th:text="${product.name}"></div>
                                        <div class="py-2">THỂ LOẠI: <span class="text-muted" th:text="${product.category.name}"></span></div>
                                        <div class="product__info d-flex justify-content-between align-items-center">
                                            <div class="product__price fw-bold"><span
                                                    th:text="${product.discountPrice}">1000000</span> &#8363;</div>
                                            <div th:if="${ product.discount !=0}" class="product__sold fw-bold">
                                                <i class="fas fa-tag"></i>
                                                <s class="product__price" style="font-size: 1.3em; color: #515E79;"
                                                    th:text="${product.salePrice}">$20.99</s>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <div class="body__more row d-flex justify-content-center align-items-center py-3">
                            <div class="btn--wrapper">
                                <a th:href="@{/products-category/0(name=${category2})}">
                                    <button class="body__more--btn px-5 py-2">Xem thêm</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end body -->

        <!-- start footer -->
        <footer th:replace="~{/shop/fragments::footer}"></footer>
        <!-- end footer -->
    </div>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

    <!-- Fontawsome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script th:src="@{/js/formatCurrency.js}"></script>
</body>

</html>