<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <th:block th:insert="~{/shop/fragments :: header-include}">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/transactions.css}">

</head>

<body>
    <div class="container-fluid">
        <!-- start header -->
        <div th:replace="~{/shop/fragments::header}"></div>
        <!-- end header -->

        <div class="container vh-100" th:if="${size==0}">
            <div class="text-center mt-5">
                <h1>Lịch sử mua hàng</h1>
                <p class="lead" th:text="${blank}">A complete project boilerplate built with Bootstrap</p>
                <a th:href="@{/products/0}">Khám phá kho sách</a>
            </div>
        </div>
        <!-- start body -->
        <div class="body" th:unless="${size==0}">
            <div class="container">
                <div class="row mt-5">
                    <div class="body__title py-4 text-center">
                        <span>Lịch sử mua hàng</span>
                        <p class="lead my-3 text-dark">Bạn có <span th:text="${size}"></span> đơn hàng</p>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-10">
                        <ul class="body__list p-0" th:each="order:${orders}">

                            <li class="body__list-item mb-5">                                                                                                
                                <div class="card card-body">
                                    <div class="d-flex justify-content-between">
                                        <div class="left d-flex flex-column p-2">
                                            <span>Mã đơn hàng: <span th:text="${order.id}"></span></span>
                                            <span>Trạng thái: <span class="text-primary" th:text="${order.orderStatus}"></span></span>
                                            <span>Ngày đặt hàng: <span class="text-primary timeValue" th:text="${order.orderDate}"></span></span>
                                            <span>Ngày giao hàng: <span class="text-primary timeValue" th:text="${order.deliveryDate}"></span></span>
                                            <span>Hình thức thanh toán: <span class="text-primary " th:text="${order.paymentMethod}"></span></span>
                                            <span>Tổng tiền: <span class="text-danger product__price" th:text="${order.totalPrice}"></span></span>
                                        </div>
                                        <div class="right d-flex flex-column p-2"> 
                                            <span>SĐT: <span class="text-primary " th:text="${order.phoneNumber}"></span></span>
                                            <span>Địa chỉ nhận hàng: <span class="text-primary " th:text="${order.address}"></span></span>                                           
                                        </div>
                                    </div>
                                    <div class="text-end py-2 px-4">
                                        <button class="btn btn-success" data-bs-toggle="collapse" type="button"
                                        th:data-bs-target="'#collapse'+${order.id}" aria-expanded="false"
                                        th:aria-controls="'collapse'+${order.id}">Chi tiết đơn</button>

                                        <a th:if="${order.isAccept==false && order.isCancelByCustomer==false && order.isDeny == false}"
                                        th:href="@{/cancel-order-by-customer/{id}(id=${order.id})}"
                                        role="button" class="btn btn-danger">Hủy đơn</a>
                                        <a th:if="${order.isAccept==true && order.orderStatus!='Đã thanh toán'}"
                                            th:href="@{/accept-order-by-customer/{id}(id=${order.id})}"
                                            role="button" class="btn btn-primary">Đã nhận hàng và thanh toán</a>
                                    </div>
                                </div>

                                <div class="collapse " th:id="'collapse'+${order.id}">
                                    <div class="card card-body">
                                        <ul class="order__list-body p-0" th:each="orderDetail,iStat:${order.orderDetailList}">
                                            <li class="order__list-item ps-3 pe-3 py-3">                                                
                                                <a th:href="@{/product-detail/{id}(id=${orderDetail.product.id})}"
                                                    class="d-flex justify-content-around">
                                                    <div class="text-dark d-flex align-items-center px-3" th:text="${iStat.index+1}+'.'"></div>
                                                    <div class="order__item-img me-3">
                                                        <img th:src="'data:image/jpeg;base64,' + ${orderDetail.product.image}"
                                                            alt=""
                                                            class="img-fluid d-none d-md-block rounded mb-2 shadow fixed-size-image"
                                                            style="width: 164px; height: 164px; object-fit: scale-down;">
                                                    </div>

                                                    <div class="order__item-details d-flex flex-column">
                                                        <span class="order__item-name"
                                                            th:text="${orderDetail.product.name}">Product's name</span>
                                                        <span class="order__item-name">GIÁ: <span
                                                                class="order__item-name product__price"
                                                                th:text="${orderDetail.unitPrice}">43.000</span></span>
                                                        <span class="order__item-quantity"
                                                            th:text="'SL: '+${orderDetail.quantity}">Qt: 3</span>
                                                    </div>

                                                    <div class="order__item-total d-flex justify-content-end align-items-center product__price"
                                                        th:text="${orderDetail.unitPrice*orderDetail.quantity}">
                                                        12000 &#8363;</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- end body -->

        <!-- start footer -->
        <footer th:replace="~{/shop/fragments::footer}"></footer>
        <!-- end footer -->
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Fontawsome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script src="/js/formatCurrency.js"></script>
    <script src="/js/DateFormat.js"></script>
</body>

</html>