<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <th:block th:insert="~{/shop/fragments :: header-include}">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/product_list.css}">
</head>

<body>

    <div class="container-fluid">

        <!-- start header -->
        <div th:replace="~{/shop/fragments::header}"></div>
        <!-- end header -->

        <!-- start body -->
        <div class="container vh-100" th:if="${size == 0}">
            <div class="text-center mt-5">
                <h1>Không có sản phầm thuôc thể loại <span th:text="${param.name}"></span>!</h1>
                <img th:src="@{/img/312.jpg}" class="img-fluid" style="width: 20%;" alt="">                
                <a th:href="@{/}">Quay lại trang chủ</a>
            </div>
        </div>
        <section class="d-flex flex-row " style="background-color: #eee;">
            <!-- Product side -->
            <div class="product-side justify-content-center w-100">
                <div class="container py-4" th:each="product:${products}">
                    <div class="row justify-content-center mb-1 ">
                        <div class="col-md-12 col-xl-10">
                            <div class="card shadow-0 border rounded-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0 ">
                                            <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                <img th:src="'data:image/jpeg;base64,' + ${product.image}"
                                                    class="fixed-size-image w-75 img-fluid rounded mx-auto d-block max-width: 100% height: auto" />
                                                <a href="#!">
                                                    <div class="hover-overlay">
                                                        <div class="mask"
                                                            style="background-color: rgba(253, 253, 253, 0.15);">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <h4 th:text="${product.name}"></h4>
                                            <div class="d-flex flex-row">
                                                <div class="text-danger mb-1 me-2">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <span>310</span>
                                            </div>
                                            <div class="mb-2 mb-0 text-muted small">
                                                <span th:text="'Tác giả :'+${product.authors}"></span>
                                                <span class="text-primary"> • </span>
                                            </div>
                                            <div class="mb-2 text-muted small">
                                                <span th:text="${product.publisher}"></span>
                                                <span class="text-primary"> • </span>
                                            </div>
                                            <div class="mb-2 text-muted small">
                                                <span th:text="'Thể loại :'+${product.category.name}"></span>
                                                <span class="text-primary"> • </span>
                                            </div>
                                            <div class="text-truncate-container ">
                                                <p class="text-truncate mb-4 mb-md-0" th:text="${product.description}">
                                                </p>
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                            <div class="d-flex flex-row align-items-center mb-1">
                                                <h4 class="mb-1 me-1 product__price" th:text="${product.discountPrice}">
                                                </h4>
                                                <span class="text-danger"><s th:if="${ product.discount !=0}"
                                                        class="product__price"
                                                        th:text="${product.salePrice}">$20.99</s></span>
                                            </div>
                                            <span th:if="${product.discount != 0.0}" class="text-danger">
                                                <i class="fas fa-tag"></i>
                                                Giảm giá đến:
                                                <strong th:text="${product.discount}+'%'"
                                                    style="font-size: 1.2em;">50%</strong>
                                            </span>
                                            <h6 class="text-success" th:if="${product.currentQuantity!=0}">Miễn phí giao
                                                hàng</h6>
                                            <h5 class="text-danger font-italic"
                                                th:unless="${product.currentQuantity != 0}"
                                                style="font-style: italic !important;">SOLD OUT</h5>
                                            <div class="d-flex flex-column mt-4">
                                                <a th:href="@{/product-detail/{id}(id=${product.id})}"
                                                    class="btn btn-primary btn-sm" type="button">Xem chi tiết</a>
                                                <a href="#" th:if="${product.currentQuantity!=0}"
                                                    th:attr="onclick=|addToCart(event,'${product.id}','${product.name}')|"
                                                    class="btn btn-outline-primary btn-sm mt-2" type="button">
                                                    Thêm vào giỏ hàng
                                                </a>
                                                <a href="#" th:unless="${product.currentQuantity!=0}"
                                                    class="btn btn-outline-primary btn-sm mt-2" type="button">
                                                    Đã hết hàng
                                                </a>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#successModal" style="display: none;">
                                                    Launch demo modal
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="successModal" tabindex="-1"
                                                    aria-labelledby="successModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog ">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="successModalLabel">Thêm vào
                                                                    giỏ
                                                                    hàng</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <!-- <div class="modal-body">
                                                                Đã thêm thành công! <p th:text="${product.name}"></p> -->
                                                            <div class="modal-body">
                                                               Đã thêm thành công! 
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Đóng</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Pagination  -->
                <nav aria-label="..." class="pb-5" th:if="${param.name==null}">
                    <ul class="justify-content-center pagination " style="width: auto;background-color: #eee;">
                        <li th:if="${currentPage != 0}" class="page-item " style="width: auto;">
                            <a th:href="@{'/products/' + ${currentPage - 1}}" class="page-link text-center">Previous</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">
                            <a th:href="@{'/products/' + ${i - 1}}" class="page-link text-center" href="#">
                                <span th:text="${i}">
                                </span></a>
                        </li>
                        <li th:if="${currentPage + 1 != totalPages}" class="page-item" style="width: auto;">
                            <a th:href="@{'/products/' + ${currentPage + 1}}" class="page-link text-center" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <nav aria-label="..." class=" pb-5" th:if="${param.name!=null && size > 0}">
                    <ul class="justify-content-center pagination " style="width: auto;background-color: #eee;">
                        <li th:if="${currentPage != 0}" class="page-item " style="width: auto;">
                            <a th:href="@{'/products-category/' + ${currentPage - 1}(name=${param.name})}"
                                class="page-link text-center">Previous</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">
                            <a th:href="@{'/products-category/' + ${i - 1}(name=${param.name})}" class="page-link text-center"
                                href="#">
                                <span th:text="${i}">
                                </span></a>
                        </li>
                        <li th:if="${currentPage + 1 != totalPages}" class="page-item" style="width: auto;">
                            <a th:href="@{'/products-category/' + ${currentPage + 1}(name=${param.name})}"
                                class="page-link text-center" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!--Pagination  -->
            </div>

        </section>
        <!-- end body -->

        <!-- start footer -->
        <footer th:replace="~{/shop/fragments::footer}"></footer>
        <!-- end footer -->
    </div>


    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

    <!-- Fontawsome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <script th:src="@{/js/addToCart.js}"></script>
    <script th:src="@{/js/formatCurrency.js}"></script>
</body>

</html>